@font-face {
    font-family: formula-bold;
     src: url(public/fonts/Formula1-Bold_web_0.ttf);
 }
 @font-face{
      font-family: ampleNu;
     src: url(public/fonts/DoppioOne-Regular.ttf);
 }
*,
*::before,
*::after{ 
    box-sizing: border-box; 
}
html{
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{
    margin-block-end: 0;
}
ul[role='list'],ol[role='list']{
    list-style: none;
}
body{
    min-height: 100vh;
    line-height: 1.5;
}
h1,h2,h3,h4,button,input,label{
    line-height: 1.1;
}
h1,h2,h3,h4{
    text-wrap: balance;
}
a:not([class]){
    text-decoration-skip-ink: auto;
    color: currentColor;
}
img,picture{
    max-width: 100%;
    display: block;
}
input, button, textarea,select{
    font-family: inherit;
    font-size: inherit;
}
textarea:not([rows]){
    min-height: 10em;
}
:target{
    scroll-margin-block: 5ex;
}

body{
    font-family: 'ampleNu' sans-serif;
    background-color:#f6f4f0;
    color:#15151e ;
}
@font-face {
   font-family: formula-bold;
    src: url(public/fonts/Formula1-Bold_web_0.ttf);
}
@font-face{
     font-family: ampleNu;
    src: url(public/fonts/DoppioOne-Regular.ttf);
}

/* Navigation bar */
.nav-container{
 display: flex;
 align-items:center;
    justify-content: space-between;
    background-color:#e10600 ;
    padding: 15px 30px;
    overflow: hidden;


}
.nav-list{
    display: flex;
    list-style: none;
    gap: 10px;
}
.nav-list a{
    font-family: 'ampleNu',sans-serif;
    text-decoration: none;
    color: #f6f4f0;
    padding: 30px 20px;
    transition: background 0.3s ease-in-out;
}
.f1-logo{
 height: 2.3em;
 width: auto;
}
.nav-list a:hover{
    background-color: #15151e;
}
h1{
    font-family: 'formula-bold', sans-serif;
    font-size: 1.7rem;
    line-height: 1;
    margin-bottom: 10px;
    
} 
.section-card{
    max-width: 600px;
    margin-top: 1rem;
   border: 8px solid #e00400;
   border-width: 8px 8px 0 0;
   border-radius: 0px 30px 0px 0px;
   padding: 1%;
   background: #f6f4f0;
   box-shadow: 0 4px 10px rgba(56, 54, 54, 0.1);
}

.img-container{
    overflow: hidden;
}
.track-cars{
    max-width: 100%;
    transition: transform 0.1s ease-in-out;

}  
 .track-cars:hover{
    transform: scale(1.1);
    overflow: hidden;
}

@media(max-width:768px){
    .nav-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .nav-list{
        flex-direction: column;
        gap: 10px;
    }
    .section-card{
        max-width: 90%;
    }
}
