@font-face {
    font-family: 'formula-bold';
     src: url(public/fonts/Formula1-Bold_web_0.ttf);
 }
 @font-face{
      font-family: 'ampleNu';
     src: url(public/fonts/DoppioOne-Regular.ttf);
 }


body{
    font-family: 'ampleNu' ,sans-serif;
    background-color:#f6f4f0;
    color:#15151e ;
}
/* Navigation bar */
.nav-container{
 display: flex;
 align-items:center;
    justify-content: space-between;
    background-color:#e10600 ;
    padding: 15px 30px;
    overflow: hidden;


}

.nav-list{
    display: flex;
    gap: 10px;
}
.nav-list a{
    font-family: 'ampleNu',sans-serif;
    text-decoration: none;
    color: #f6f4f0;
    transition: background 0.3s ease-in-out;
}
.f1-logo{
 height: 2.3em;
 width: auto;
}
.nav-list a:hover{
    background-color: #15151e;
}
h1{
    font-family: 'formula-bold', sans-serif;
    font-size: 1.7rem;
    line-height: 1;
    margin-bottom: 10px;
    
} 
.hero-section{
    display: flex;
    padding: 0 10em;
}
.news-headline{
    flex: 2;
    max-width: 600px;
    margin-top: 1rem;
   border: 8px solid #e00400;
   border-width: 8px 8px 0 0;
   border-radius: 0px 30px 0px 0px;
   padding: 1%;
   background: #f6f4f0;
   box-shadow: 0 4px 10px rgba(56, 54, 54, 0.1);
}

.img-container{
    overflow: hidden;
}
.track-cars{
    max-width: 100%;
    transition: transform 0.1s ease-in-out;

}  
 .track-cars:hover{
    transform: scale(1.1);
    overflow: hidden;
}
.news-cards{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    text-decoration: none;
    
}
.news{
    font-family: 'titillium-web-bold';
    color:#e10600;  
    font-size:xx-small;
    padding-top: 1em;
}
.card-items{
    font-family: 'titillium-web-extralight';
    font-size: small;
    line-height: 1rem;
}

@media(max-width:768px){
    .nav-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .nav-list{
        flex-direction: column;
        gap: 10px;
    }
    .news-headline{
        max-width: 50%;
    }
}
